SUBSYSTEM=="tty", ATTRS{idVendor}=="239a", ATTRS{idProduct}=="0029", SYMLINK+="nrf52WatchUpdate"
SUBSYSTEM=="block", ATTRS{idVendor}=="239a", ATTRS{idProduct}=="0029", SYMLINK+="watchUpdate"
